@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model IEnumerable<DataLayer.Models.User>

@{
    ViewData["Title"] = "Utforska singlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{bool ProfilRegistrerad = false; }

@foreach (var item in Model)
{
    if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
    {
        ProfilRegistrerad = true;
    }
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <p>Du måste logga in för att kunna se de heta singlarna</p>
        <a href="/Identity/Account/Login"><p>Logga in</p></a>
        <br />
        <p>Har du inget konto?</p>
        <a href="/Identity/Account/Register"><p>Registrera dig</p></a>
    </div>
}

else if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
{
    <div class="text-center">
        <h1>Du har inte fixat din profilsida ännu!</h1>
        <h2>Klicka här för att komma dit: </h2>
        <a href="/Users/Create">Skapa profil</a>
    </div>
}

else
{
    <div class="text-center">
        <h1>Ta chansen att hitta din nya señor eller señorita ;)</h1>
    </div>

    <div class="storDiv">

        @foreach (var item in Model)
        {
            <div class="profil">
                <a href="/Users/Details/@{@item.Id} "><img class="profilBild" src="@item.ProfilePicture" /></a>
            </div>
        }

    </div>
}

    <style>
        .profil {
            width: 25%;
            height: auto;
            margin-bottom: 2em;
            margin-top: 2em;
            float: right;
        }

        .profilBild {
            display: block;
            min-width: 50%;
            min-height: 50%;
            max-width: 50%;
            max-height: 50%;
            margin-right: auto;
            margin-left: auto;
            padding: 0;
        }
    </style>
