@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@{List<User> list = new List<User>();}
@{list =  IEnumerable<DataLayer.Models.User>}

        @{
            ViewData["Title"] = "Home Page";

            bool ProfilRegistrerad = false;
        }

        @foreach (var item in Model)
        {
            if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
            {
                <p>Den finns va!</p>
                ProfilRegistrerad = true;
            }
            else
            {
                <p>Den finns inte va :(</p>
            }

        }

        @if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
        {
            <h1>Du har inte fixat din profilsida ännu!</h1>
            <h2>Klicka här för att komma dit: </h2>
            <a href="Users/Create">Redigera profil</a>
        }

        else
        {
            <div class="text-center">
                <h1 class="display-4">Hej här kommer massa snygga singlar</h1>
            </div>
        }

        @if (!SignInManager.IsSignedIn(User))
        {
            <p>Vill du ta del av dessa läckra singlar?</p>
            <a href="Identity/Account/Register"><p>Sign up bitch hoe ass</p></a>
        }
