@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model UserView

@{
    ViewData["Title"] = "Home Page";

    bool ProfilRegistrerad = false;
    bool HaveFriendRequest = false;

    User _user = new User();
    List<FriendRequest> friendRequests = new List<FriendRequest>();
}

@foreach (var item in Model.Users)
{
    if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
    {
        ProfilRegistrerad = true;
        _user = item;
    }
}

@foreach (var item in Model.FriendRequests)
{
    if (item.Receiver.Id == _user.Id)
    {
        friendRequests.Add(item);
        HaveFriendRequest = true;
    }
}

<!--Om ej inloggad-->
@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Vill du ta del av dessa läckra singlar?</h1>
        <a href="/Identity/Account/Register"><p>Registrera dig</p></a>
        <a href="/Identity/Account/Login"><p>Logga in</p></a>
    </div>
}

<!--Om inloggad men ej registrerad profil-->
@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
{
    <div class="text-center">
        <h1>Du har inte fixat din profilsida ännu!</h1>
        <h2>Klicka här för att komma dit: </h2>
        <a href="/Users/Create">Redigera profil</a>
    </div>

}

<!--Om kontot är inaktiverat-->
@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == true && _user.IsInactivated == true)
{
    <div class="text-center">
        <h2>Ditt konto är inaktiverat!</h2>
        <h3>Missa inte din chans att få snacka med heta singlar ;)</h3>
        <br />
        <h6>Klicka här för att återaktivera ditt konto: </h6>
        <a href="/Users/Edit/@_user.Id">Redigera profil</a>
    </div>

}

<!--Om inloggad, profil registrerad och ej inaktiverad-->
@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == true && _user.IsInactivated == false)
{
    if (HaveFriendRequest)
    {
        <div style="overflow: hidden">
            <marquee>
                <p id="vänförfrågan">
                    Du har fått vänförfrågning av: &nbsp;

                    <!--Loopa genom FriendRequests och se ifall den inloggade
                    fått friendrequest-->
                    <!--Skriv ut de som skickat vänförfrågan-->
                    @foreach (var item in friendRequests)
                    {
                        string senderName = item.Sender.FirstName + " " + item.Sender.LastName;
                        <a id="friendRequestSlider" href="/Users/Details/@item.Sender.Id">@senderName &nbsp; &nbsp;</a>
                    }
                </p>
            </marquee>
        </div>
    }


    <div class="text-center">
        <h1 class="display-4">Hej @_user.FirstName!</h1>
        <h2 class="display-5">Här kommer massa snygga singlar</h2>
    </div>
}

@if (Model.Users.Count == 0 && !SignInManager.IsSignedIn(User))
{

    <div class="text-center">
        <p>Just nu finns inga heta singlar. Du är den första heta singeln!</p>
        <a href="/Identity/Account/Register"><p>Registrera dig gratis</p></a>
    </div>
}

<!--Om det finns fler än 3 profiler, skriv ut 3 eller 4 profiler,
    beroende på ifall användaren är inloggad-->
@if (Model.Users.Count > 3)
{
    for (int i = 0; i < 4; i++)
    {
        //Profil får ej vara inaktiverad
        if (Model.Users[i].IsInactivated == false)
        {
            //Om det är användarens egna profil, skriv ej ut
            if (Model.Users[i].Id == _user.Id)
            {

            }
            else
            {
                //Ej visa profiler som inte har satt upp sin profil ännu
                //Räcker endast med firstName, då alla egenskaper är obligatoriska vis set-up
                if (Model.Users[i].FirstName == null)
                {

                }
                else
                {
                    //Skriv ut profilen
                    <div class="profil">
                        <a href="/Users/Details/@Model.Users[i].Id "><img class="profilBild" src="@Model.Users[i].ProfilePicture" /></a>
                    </div>
                }
            }
        }
    }
}

//Om det finns mindre än 3 profiler, skriv ut så många som finns
else
{
    for (int i = 0; i < Model.Users.Count; i++)
    {
        //Profil får ej vara inaktiverad
        if (Model.Users[i].IsInactivated == false)
        {
            //Om det är användarens egna profil, skriv ej ut
            if (Model.Users[i].Id == _user.Id)
            {

            }
            else
            {
                //Ej visa profiler som inte har satt upp sin profil ännu
                //Räcker endast med firstName, då alla egenskaper är obligatoriska vis set-up
                if (Model.Users[i].FirstName == null)
                {

                }
                else
                {
                    //Skriv ut profilen
                    <div class="profil">
                        <a href="/Users/Details/@Model.Users[i].Id"><img class="profilBild" src="@Model.Users[i].ProfilePicture" /></a>
                    </div>
                }
            }

        }
    }
}


<style>
    .profil {
        width: 25%;
        height: auto;
        margin-bottom: 8em;
        margin-top: 2em;
        float: left;
    }

    .profilBild {
        display: block;
        min-width: 50%;
        min-height: 50%;
        max-width: 70%;
        max-height: 70%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .display-5 {
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.2;
    }

    .marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
    }

        .marquee span {
            display: inline-block;
            padding-left: 100%;
            animation: marquee 5s linear infinite;
        }

    #vänförfrågan {
        background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red, violet, indigo, blue, green, orange, red, violet, indigo, blue, green, orange, red, violet, indigo, blue, green, orange, red);
        -webkit-background-clip: text;
        color: transparent;
    }

    #friendRequestSlider {
        text-decoration: none;
        color: blue;
    }

        #friendRequestSlider:hover {
            text-decoration: underline;
            color: red;
        }

    .border-top footer text-muted {
        margin-top: 2em;
    }
</style>