@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using DataLayer.Models

@model UserView

@{
    ViewData["Title"] = "Home Page";

    bool ProfilRegistrerad = false;

    User _user = new User();

    //List<User> listUser = new List<User>();
    //listUser = Model.ToList();
}

@foreach (var item in Model.Users)
{
    if (SignInManager.IsSignedIn(User) && User.Identity.Name.Equals(item.UserName))
    {
        ProfilRegistrerad = true;
        _user = item;
    }
    else
    {
    }

}

@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == false)
{
    <div class="text-center">
        <h1>Du har inte fixat din profilsida ännu!</h1>
        <h2>Klicka här för att komma dit: </h2>
        <a href="Users/Create">Redigera profil</a>
    </div>

}

@if (SignInManager.IsSignedIn(User) && ProfilRegistrerad == true)
{
    <div class="text-center">
        <h1 class="display-4">Hej @_user.FirstName!</h1>
        <h2 class="display-5">Här kommer massa snygga singlar</h2>
    </div>
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Vill du ta del av dessa läckra singlar?</h1>
    </div>
}

@if (Model.Users.Count == 0 && !SignInManager.IsSignedIn(User))
{
    
<div class="text-center">
    <p>Just nu finns inga heta singlar. Du är den första heta singeln!</p>
    <a href="Identity/Account/Register"><p>Registrera dig gratis</p></a>
</div>
}

@if (Model.Users.Count > 3)
{
    for (int i = 0; i < 4; i++)
    {
        <div class="profil">
            <a href="/Users/Details/@Model.Users[i].Id "><img class="profilBild" src="@Model.Users[i].ProfilePicture" /></a>
        </div>
    }
}

else
{
    for (int i = 0; i < Model.Users.Count; i++)
    {
        <div class="profil">
            <a href="/Users/Details/@Model.Users[i].Id"><img class="profilBild" src="@Model.Users[i].ProfilePicture" /></a>
        </div>
    }
}

<style>
    .profil {
        width: 25%;
        height: auto;
        margin-bottom: 2em;
        margin-top: 2em;
        float: left;
    }

    .profilBild {
        display: block;
        min-width: 50%;
        min-height: 50%;
        max-width: 70%;
        max-height: 70%;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }
    .display-5 {
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.2;
    }
    
</style>