@model DataLayer.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera Uppgifter</h1>

<h4>@{@Model.FirstName}</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Email</label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Förnamn</label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ålder</label>
                <input asp-for="Age" type="number" class="form-control" step="1" min="18" max="99" required>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Kön</label> <br>
                Man:  <input asp-for="Gender" type="radio" class="form-control" name="gender" id="RadioBox" value="Man" checked>
                Kvinna: <input asp-for="Gender" type="radio" class="form-control" name="gender" id="RadioBox" value="Kvinna">
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Beskrivning</label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Profilbild(URL)</label>
                <input asp-for="ProfilePicture" class="form-control" accept="image/x-png, image/jpeg, image/gif" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Vill du inte vara sökbar?</label>
                <p style="font-size:small">Klicka i checkrutan ifall andra användare inte ska kunna hitta dig genom vår sökfunktion.<br />Användare kommer fortfarande kunna hitta din profilsida i Utforska men de kan inte söka efter dig.</p>
                <input asp-for="IsNotSearchable" id="checkBox" class="form-control" />
                <span asp-validation-for="IsNotSearchable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Vad skulle du göra på första dejten?</label>
                Fågelskådning:  <input asp-for="Hobby" type="radio" class="form-control" name="Hobby" id="RadioBox" value="Fågelskådning" checked>
                Surfning: <input asp-for="Hobby" type="radio" class="form-control" name="Hobby" id="RadioBox" value="Surfning">
                Rita bilder i paint: <input asp-for="Hobby" type="radio" class="form-control" name="Hobby" id="RadioBox" value="Rita bilder i paint">
                <span asp-validation-for="Hobby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Inaktivera konto</label>
                <label style="font-size: .8em;">Kryssa i rutan för att inaktivera ditt konto, 
                avmarkera rutan för att återaktivera det.
                Tryck sedan save för att spara ändringarna</label>
                <input asp-for="IsInactivated" class="form-control">
                <span asp-validation-for="IsInactivated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <p><a asp-action="Index">Tillbaka till profil</a></p>
</div>

<style>

    input[type=radio] {
        border: 0px;
        width: 10%;
        height: 1.5em;
        padding: 0;
        align-items: flex-start;
    }
    #checkBox {
        border: 0px;
        width: 10%;
        height: 1.5em;
        padding: 0;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

