@model DataLayer.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera Uppgifter</h1>

<h4>@{@Model.FirstName}</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Email</label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Förnamn</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Efternamn</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ålder</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Kön</label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Beskrivning</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ProfilePicture" class="control-label"></label>*@
                <label>Profilbild(URL)</label>
                <input asp-for="ProfilePicture" class="form-control" accept="image/x-png, image/jpeg, image/gif" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Vill du inte vara sökbar?</label>
                <p style="font-size:small">Klicka i checkrutan ifall andra användare inte ska kunna hitta dig genom vår sökfunktion.<br />Användare kommer fortfarande kunna hitta din profilsida i Utforska men de kan inte söka efter dig.</p>
                <input asp-for="IsNotSearchable" class="form-control" />
                <span asp-validation-for="IsNotSearchable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till profil</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

